:root {
  --color-primary: #0D5E01;
  --color-primary-hover: #0F6A02;

  --color-secondary: #86AF2C;
  --color-secondary-hover: #9BCF3A;

  --color-trinary: #FF9800;

  --color-vipps: #FF5B24;
  --color-vipps-hover: #FF7040;
  --color-vipps-disabled: #FFB199;

  --color-danger-muted: #DC3545;
  --color-danger-muted-hover: #C82333;
}
