@import './base.css';

button {
  border-radius: var(--size-button-radius);
  padding: var(--size-button-padding);
  min-width: var(--size-button-min);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.input {
  border-radius: var(--size-input-radius);
  padding: var(--size-input-padding);
}
